$primary: #00a0e3;
$primary-light: #04adf4;
$primary-dark: #0585ba;
$secondary: #292e34;
$grey: #edeff2;
$grey-dark: #919eab;
$light: #eeeeee;
$dark: #2d2f30;
$text-grey: #919eab;
$danger: #ed4e4e;
$danger-light: #ec5c5c;
$danger-dark: #ea2727;
$warning: #ffab00;
$warning-light: #fcb11d;
$warning-dark: #d68f00;
$success: #d6f5db;
$light-dark: #373737;

$font1: 'Open Sans', sans-serif;
