<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="item">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'Заполните обязательное поле'">
        <label>{{ "Username" }}</label>
        <input
          class="email"
          nz-input
          placeholder="Enter your username..."
          nzSize="large"
          formControlName="username"
          maxlength="70"
        />
      </nz-form-control>
    </nz-form-item>
  </div>
  <div class="item">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'Заполните обязательное поле'">
        <label>{{ "Email Address" }}</label>
        <input
          class="email"
          nz-input
          placeholder="Enter your email address..."
          nzSize="large"
          formControlName="email"
          maxlength="70"
        />
      </nz-form-control>
    </nz-form-item>
  </div>
  <div class="item">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'Заполните обязательное поле'">
        <div class="dsc">
          <label class="iece90">{{ "Password" }}</label>
          <a [routerLink]="['/']">Forgot password?</a>
        </div>
        <nz-input-group [nzSuffix]="suffixTemplate" class="email">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            formControlName="password"
            placeholder="Enter your password..."
            style="text-align: center"
          />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <span
            nz-icon
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"
            class="password-icon"
          ></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </div>
  <button type="submit" [disabled]="(isSubmitting$ | async) || form.invalid">
    Sign Up
  </button>
</form>
