<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="item">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'fill_required' | translate">
        <label>{{ "username" | translate }}</label>
        <input
          class="email"
          nz-input
          [placeholder]="('enter_username' | translate) + '...'"
          nzSize="large"
          formControlName="username"
          maxlength="70"
        />
      </nz-form-control>
    </nz-form-item>
  </div>
  <div class="item">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'fill_required' | translate">
        <label>{{ "email_address" | translate }}</label>
        <input
          class="email"
          nz-input
          [placeholder]="('email_address' | translate) + '...'"
          nzSize="large"
          formControlName="email"
          maxlength="70"
        />
      </nz-form-control>
    </nz-form-item>
  </div>
  <div class="item">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="'fill_required' | translate">
        <div class="dsc">
          <label class="iece90">{{ "password" | translate }}</label>
          <a [routerLink]="['/']">{{ "forgot_password" | translate }}?</a>
        </div>
        <nz-input-group [nzSuffix]="suffixTemplate" class="email">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            formControlName="password"
            [placeholder]="('enter_password' | translate) + '...'"
            style="text-align: center"
          />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <span
            nz-icon
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"
            class="password-icon"
          ></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </div>
  <button type="submit" [disabled]="(isSubmitting$ | async) || form.invalid">
    {{ "sign_up" | translate }}
  </button>
</form>
