<div class="dsc" style="margin-top: 55px; padding-bottom: 50px">
  <p>{{ "number_of_all_cryptocurrencies" | translate }} {{ totalProps }}</p>
  <nz-pagination
    [nzPageIndex]="currentPageProps"
    [nzTotal]="pagesCount"
    (nzPageIndexChange)="changePage($event)"
  ></nz-pagination>
  <div class="rows">
    <span>{{ "show_rows" | translate }}</span>
    <nz-select
      [(ngModel)]="selectedRows"
      (ngModelChange)="sendMessage()"
      [nzOptions]="rowsOptions"
    >
    </nz-select>
  </div>
</div>
