<div style="border-radius: 20px">
  <div class="tabs">
    <button
      class="btnLog"
      style="margin-right: 40px"
      [ngClass]="{ actived: logIn }"
      (click)="changeLogIn(logIn)"
    >
      {{ "log_in" | translate }}
    </button>
    <button
      class="btnLog"
      [ngClass]="{ actived: !logIn }"
      (click)="changeSignUp(logIn)"
    >
      {{ "sign_up" | translate }}
    </button>
  </div>
  <ng-container *ngIf="logIn; else elseTemplate">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="item">
        <nz-form-item>
          <nz-form-control [nzErrorTip]="'fill_required' | translate">
            <label>{{ "username" | translate }}</label>
            <input
              class="email"
              nz-input
              [placeholder]="('enter_username' | translate) + '...'"
              nzSize="large"
              formControlName="username"
              maxlength="70"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="item">
        <nz-form-item>
          <nz-form-control [nzErrorTip]="'fill_required' | translate">
            <div class="dsc">
              <label class="iece90">{{ "password" | translate }}</label>
              <a [routerLink]="['/']">{{ "forgot_password" | translate }}?</a>
            </div>
            <nz-input-group [nzSuffix]="suffixTemplate" class="email">
              <input
                style="text-align: center"
                [type]="passwordVisible ? 'text' : 'password'"
                nz-input
                formControlName="password"
                [placeholder]="('enter_password' | translate) + '...'"
              />
            </nz-input-group>
            <ng-template #suffixTemplate>
              <span
                nz-icon
                [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                (click)="passwordVisible = !passwordVisible"
                class="password-icon"
              ></span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <button
        type="submit"
        [disabled]="(isSubmitting$ | async) || form.invalid"
      >
       {{ "sign_in" | translate }}
      </button>
    </form>
  </ng-container>

  <ng-template #elseTemplate>
    <mc-register [logIn]="logIn" (logInChange)="changeLogIn(logIn)"></mc-register>
  </ng-template>
</div>
