.container {
  width: 1370px;
  margin: 32px auto 0 auto;
  padding-bottom: 75px;
  ul {
    li {
      color: #58667e;
      font-size: 12px;
      line-height: 124%;
      margin-right: 28px;
      font-weight: 500;
      cursor: pointer;
    }
    li:last-child {
      margin-right: 0;
      color: #000000;
    }
  }
  .main-div {
    height: 367px;
    .title-div {
      margin: 12px 0 17px 0;
      img {
        width: 32px;
        margin-right: 12px;
      }
      h1 {
        color: #222531;
        font-size: 32px;
        font-weight: 700;
        line-height: 108%;
        margin-right: 12px;
      }
      span {
        padding: 2px 6px;
        color: #58667e;
        background-color: #eff2f5;
        font-size: 12px;
        font-weight: 700;
        border-radius: 4px;
      }
    }
    .second-div {
      margin-bottom: 22px;
      span {
        padding: 2px 6px;
        font-size: 11px;
        font-weight: 500;
        border-radius: 4px;
        margin-right: 8px;
      }
      .rank {
        background-color: #808a9d;
        color: #ffffff;
      }
      .coin {
        color: #58667e;
        background-color: #eff2f5;
      }
    }
    .main-links {
      width: 306px;
      flex-wrap: wrap;
      p {
        padding: 6px 8px;
        color: #000000;
        background-color: #eff2f5;
        font-size: 11px;
        font-weight: 600;
        border-radius: 4px;
        margin: 0 4px 4px 0;
      }
    }
  }
  .bla-div {
    width: 876px;
    .price-div {
      border-bottom: 1px solid #eff2f5;
      margin-top: 22px;
      padding-bottom: 22px;
      .first {
        margin-bottom: 5px;
        .title-price {
          color: #58667e;
          font-size: 12px;
          line-height: 124%;
          span {
            color: #808a9d;
          }
        }
        .btn-blue {
          background-color: #3861fb;
          color: #ffffff;
          padding: 5px 8px;
          margin-right: 5px;
          border-radius: 8px;
        }
      }
      .pprice {
        margin-bottom: 14px;
        p {
          color: #000000;
          font-size: 32px;
          font-weight: 700;
          margin-right: 16px;
        }
        span {
          padding: 5px 10px;
          background-color: #ea3943;
          color: #ffffff;
          border-radius: 8px;
          font-size: 14px;
          font-weight: 600;
        }
      }
      .gas-price {
        color: #808a9d;
        font-size: 14px;
        font-weight: 400;
        span {
          color: #ea3943;
          margin-left: 16px;
        }
      }
      .progress-div {
        color: #58667e;
        font-size: 12px;
        font-weight: 600;
        .progress {
          margin: 0 13px;
          ::ng-deep .ant-progress-line {
            width: 166px;
          }
        }
      }
    }

    .second {
      margin-top: 33px;
      .divs {
        width: 218px;
        border-right: 1px solid #eff2f5;
        .title {
          color: #58667e;
          font-size: 12px;
          line-height: 124%;
          font-weight: 500;
          margin-bottom: 5px;
          padding-top: 8px;
          span {
            margin-left: 5px;
          }
        }
        .price {
          color: #000000;
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 5px;
        }
        .procent-coin {
          color: #58667e;
          font-weight: 500;
          font-size: 12px;
        }
        .procent {
          color: #ea3943;
          font-size: 12px;
          font-weight: 600;
          line-height: 155%;
          margin-bottom: 29px;
        }
        .dvolume {
          color: #58667e;
          font-size: 12px;
          font-weight: 500;
          line-height: 124%;
          span {
            margin-left: 14px;
            color: #000000;
          }
        }
        .max-supply {
          color: #58667e;
          font-size: 12px;
          font-weight: 500;
          line-height: 124%;
          margin-bottom: 5px;
          span {
            color: #000000;
          }
        }
      }
      .divs:last-child {
        border-right: none;
      }
    }
  }
}
