<div class="toggler dsc" [ngClass]="{ darkModeColor: darkMode }">
  <div class="dc">
    <div class="links df">
      <a
        [routerLink]="(isLoggedIn$ | async) ? ['/watchlist'] : ['/']"
        class="dec watch-port btn"
        [ngClass]="{ backgroundDark: darkMode, darkModeColor: darkMode }"
      >
        <img src="../../../../../assets/star.svg" alt="" />
        {{ "watchlist" | translate }}
      </a>
      <a
        [routerLink]="['/portfolio']"
        class="dec watch-port btn"
        [ngClass]="{ backgroundDark: darkMode, darkModeColor: darkMode }"
      >
        <img src="../../../../../assets/portfolio.svg" alt="" />
        {{ "portfolio" | translate }}
      </a>
    </div>
    <div class="df">
      <a
        [routerLink]="['/']"
        class="dec btn btn2"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [ngClass]="{ backgroundDark: darkMode, darkModeColor: darkMode }"
      >
        {{ "сryptocurrencies" | translate }}
      </a>
      <a
        [routerLink]="['/kazakh-coins']"
        routerLinkActive="active"
        class="dec btn coins"
        [ngClass]="{ darkModeColor: darkMode }"
      >
        <img src="../../../../../assets/fire.png" style="width: 15px" alt="" />
        {{ "kz_coins" | translate }}
      </a>
    </div>
  </div>

  <div class="dc right">
    <div class="rows">
      <!-- <span>{{ "show_rows" | translate }}</span>
      <nz-select [(ngModel)]="selectedRows" [nzOptions]="rowsOptions">
      </nz-select> -->
    </div>

    <div class="dc">
      <p
        class="dc tenge"
        [ngClass]="{ backgroundDark: darkMode, darkModeColor: darkMode }"
      >
        <span>₸</span>Tenge
      </p>
      <button
        class="btn-togg"
        [ngClass]="{ backgroundDark: darkMode, darkModeColor: darkMode }"
      >
        <span
          nz-icon
          nzType="bars"
          nzTheme="outline"
          [ngStyle]="{ 'background-color': darkMode ? '#58667e' : '#ffffff' }"
        ></span
        ><span nz-icon nzType="appstore" nzTheme="outline"></span>
      </button>
    </div>
  </div>
</div>
