<!-- <div class="feed-toggle">
  <ul class="nav nav-pills outline-active">
    <li class="nav-item" *ngIf="isLoggedIn$ | async">
      <a [routerLink]="['/feed']" class="nav-link" routerLinkActive="active"
        >Your feed</a
      >
    </li>

    <li class="nav-item">
      <a
        [routerLink]="['/']"
        class="nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        >Global feed</a
      >
    </li>

    <li class="nav-item" *ngIf="tagNameProps">
      <a
        [routerLink]="['/tags', tagNameProps]"
        class="nav-link"
        routerLinkActive="active"
      >
        <i class="ion-pound"></i>
        {{ tagNameProps }}
      </a>
    </li>
  </ul>
</div> -->
<div class="toggler dsc">
  <div class="dc">
    <div class="links df">
      <a [routerLink]="['/watchlist']" class="dec watch-port btn">
        <img src="../../../../../assets/star.svg" alt="" />
        {{ "watchlists" | translate }}
      </a>
      <a [routerLink]="['/portfolio']" class="dec watch-port btn">
        <img src="../../../../../assets/portfolio.svg" alt="" />
        {{ "portfolio" | translate }}
      </a>
    </div>
    <div class="df">
      <a
        [routerLink]="['/']"
        class="dec btn btn2"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ "сryptocurrencies" | translate }}
      </a>
      <a [routerLink]="['/']" class="dec btn coins">
        {{ "kz_coins" | translate }}
      </a>
    </div>
  </div>

  <div class="dc right">
    <div class="rows">
      <span>{{ "show_rows" | translate }}</span>
      <nz-select [(ngModel)]="selectedRows" [nzOptions]="rowsOptions">
      </nz-select>
    </div>

    <div class="dc">
      <p class="dc tenge"><span>₸</span>Tenge</p>
      <button class="btn-togg">
        <span
          nz-icon
          nzType="bars"
          nzTheme="outline"
          style="background-color: #ffffff"
        ></span
        ><span nz-icon nzType="appstore" nzTheme="outline"></span>
      </button>
    </div>
  </div>
</div>
