.footer {
  // padding: 48px 56px;
  width: 1370px;
  margin: 0 auto;
  padding-top: 20px;
  border-top: 1px solid #dadada;
  .logo {
    border: 1px solid #000000;
    border-radius: 8px;
    margin-right: 510px;
  }
  .rows {
    width: 175px;
    .title {
      font-size: 14px;
      font-weight: 700;
      line-height: 134%;
      color: #000000;
      margin-bottom: 18px;
    }
    .link {
      font-size: 14px;
      font-weight: 400;
      line-height: 207%;
      color: #58667e;
      cursor: pointer;
    }
  }
}
