<mc-navBar></mc-navBar>
<router-outlet></router-outlet>
<div style="width: 1300px; height: 500px">
  <iframe
    id="tradingview_44306"
    src="https://s.tradingview.com/widgetembed/?frameElementId=tradingview_4430…m=NASDAQ%3AAAPL#%7B%22page-uri%22%3A%22127.0.0.1%3A5500%2Ftrade.html%22%7D"
    style="
      width: 100%;
      height: 100%;
      margin: 0 !important;
      padding: 0 !important;
    "
    frameborder="0"
    allowtransparency="true"
    scrolling="no"
    allowfullscreen
  ></iframe>
</div>
<mc-footer></mc-footer>
