.search {
  margin-top: 20px;
  height: 38.5px;
  background-color: #eff2f5;
  color: #a6b0c3;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
  line-height: 155%;
  background-color: #eff2f5;
  padding: 8.5px 16px;
  cursor: pointer;
  &:focus,
  &:hover {
    border: 1px solid #eff2f5 !important;
  }
}
.coin-symbol {
  font-size: 14px;
  line-height: 142%;
  font-weight: 700;
  color: #808a9d;
}
.coin-icon {
  width: 24px;
  margin-right: 5px;
}
.coins {
  margin-top: 28px;
}
.coin {
  padding: 10px;
  &:hover {
    background-color: #f8fafd;
    border-radius: 8px;
  }
}
ul {
  background-color: #eff2f5;
  border-radius: 8px;
  padding: 3px;
  li {
    padding: 4px;
    text-align: center;
    min-width: 155px;
    &:hover {
      background-color: #f8fafd;
      border-radius: 8px;
    }
  }
  .active {
    background-color: #f8fafd;
    border-radius: 8px;
  }
}
.select-coin {
  margin: 24px 0 16px 0;
  ::ng-deep .ant-select-selector {
    height: 48px;
    border: 1px solid #cfd6e4;
    display: flex;
    align-items: center;
    border-radius: 8px;
  }
}
.qu-pr {
  margin-bottom: 16px;
  p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #000000;
  }
  // .qu {
  ::ng-deep .ant-input {
    height: 40px;
    border: 1px solid #cfd6e4;
    border-radius: 8px;
    // }
  }
}
.total-spent {
  background-color: #eff2f5;
  height: 84px;
  padding: 16px;
  ::ng-deep .ant-input-borderless{
    color: #000000;
    font-size: 24px;
    cursor: pointer;
  }
}
.add-transaction {
  margin-top: 32px;
  background-color: #3861fb;
  color: #ffffff;
  width: 100%;
  height: 48px;
}
