<h1 style="margin-bottom: 16px">
  {{
    addTransActive
      ? ("Add Transaction" | translate)
      : ("Select Coin" | translate)
  }}
</h1>
<ng-container *ngIf="addTransActive; else elseTemplate">
  <ul class="dc">
    <li class="active">Buy</li>
    <li>Sell</li>
    <li>Transfer</li>
  </ul>
  <div class="select-coin">
    <nz-select
      nzShowSearch
      nzAllowClear
      [(ngModel)]="selectedOS"
      class="w100 br8"
    >
      <nz-option
        nzCustomContent
        *ngFor="let coin of coinsSelect"
        [nzLabel]="coin.label"
        [nzValue]="coin.value"
      >
        <div class="dc" (click)="optionCoin(coin)">
          <img
            class="coin-icon"
            [src]="
              '../../../../../../assets/' + (coin.value | lowercase) + '.png'
            "
            alt=""
          />
          <span>&nbsp; {{ coin.label }}&nbsp;&nbsp;</span>
          <span class="coin-symbol">
            {{ coin.value }}
          </span>
        </div>
      </nz-option>
    </nz-select>
  </div>

  <div class="dsc qu-pr">
    <div class="qu">
      <p>Quantity</p>
      <input
        nz-input
        placeholder="0.00"
        (input)="calculateTotalSpent()"
        [(ngModel)]="quantity"
      />
    </div>

    <div class="pr">
      <p>Price Per Coin</p>
      <input nz-input [(ngModel)]="pricePerCoin" disabled />
    </div>
  </div>

  <div class="total-spent br8">
    <p>Total Spent</p>
    <input
      nz-input
      nzBorderless
      [placeholder]="0 | currency : '₸'"
      [(ngModel)]="totalSpent"
      disabled
    />
  </div>

  <button class="add-transaction br8 cp" (click)="addTransaction()">
    Add Transaction
  </button>
</ng-container>

<ng-template #elseTemplate>
  <input
    nz-input
    placeholder="Search"
    class="search"
    nzSize="large"
    [(ngModel)]="search"
    (input)="seacrchCoin()"
  />
  <div class="coins">
    <div class="dsc coin" *ngFor="let coin of coins" (click)="selectCoin(coin)">
      <div class="dc">
        <img
          class="coin-icon"
          [src]="'../../../../../../assets/' + coin.logo + '.png'"
          alt=""
        />
        <span>&nbsp; {{ coin.name }}&nbsp;&nbsp;</span>
        <span class="coin-symbol">
          {{ coin.symbol }}
        </span>
      </div>
      <span nz-icon nzType="right" nzTheme="outline"></span>
    </div>
  </div>
</ng-template>
