<div class="container">
  <div class="todays">
    <div class="dsc">
      <h1>{{ "today_cap" | translate }}</h1>
      <div class="highlights">
        <span>{{ "highlights" | translate }}</span>
        <nz-switch
          [(ngModel)]="switchValue"
          [nzControl]="true"
          (click)="clickSwitch()"
          [nzLoading]="loading"
        ></nz-switch>
      </div>
    </div>
    <p>
      {{ "global_cap" | translate }}
      <span class="t"> $1.28T </span>
      , {{ "a" | translate }}
      <span
        nz-icon
        nzType="caret-up"
        style="color: #16c784"
        nzTheme="outline"
      ></span>
      <span class="procent"> 0.42% </span>
      {{ "increase_last_day" | translate }}.
    </p>
  </div>
  <ng-container *ngIf="switchValue">
    <mc-banner></mc-banner>
  </ng-container>
  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <mc-feed-toggler></mc-feed-toggler>
        <mc-feed [apiUrl]="apiUrl"></mc-feed>
      </div>
      <div class="col-md-3">
        <!-- <mc-popular-tags></mc-popular-tags> -->
      </div>
    </div>
  </div>
</div>
