<div class="container">
  <div class="navBar dsc">
    <div class="info">
      {{ "сryptos" | translate }}: <span>22,423</span>
      {{ "market_cap" | translate }}: <span> $1,168,810,844,422 </span>
      {{ "24vol" | translate }}: <span> $54,256,403,756 </span>
      {{ "dominance" | translate }}:
      <span> BTC: 41.7% ETH: 18.7% </span>
    </div>
    <div class="dc">
      <nz-select
        [(ngModel)]="selectedLanguage"
        nzBorderless
        class="select"
        [nzOptions]="languageOptions"
        (ngModelChange)="changeLanguage($event)"
      >
      </nz-select>
      <img src="../../../../../assets/kzt.svg" alt="" />
      <nz-select
        [(ngModel)]="selectedCurrency"
        nzBorderless
        class="select"
        [nzOptions]="currencyOptions"
      >
      </nz-select>
      <!-- <button > -->
      <img class="moon" src="../../../../../assets/moon.svg" alt="" />
      <!-- </button> -->

      <ng-container
        *ngIf="(isLoggedIn$ | async) && (currentUser$ | async); else anonymous"
      >
        <div class="dc bell">
          <nz-badge [nzCount]="5">
            <span
              nz-icon
              nzType="bell"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#000000'"
              nzStatus="processing"
            ></span>
          </nz-badge>
        </div>
        <div class="dcc avatar-img" nz-dropdown [nzDropdownMenu]="menu">
          <span nz-icon nzType="user" nzTheme="outline"></span>
        </div>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <div class="dropdown">
            <div class="dcc img">
              <span nz-icon nzType="user" nzTheme="outline"></span>
            </div>
            <div class="profile-info">
              <p class="username">Hi, {{ (currentUser$ | async).username }}</p>
              <p class="email">
                {{ (currentUser$ | async).email }}
              </p>
            </div>
          </div>
        </nz-dropdown-menu>
      </ng-container>
      <ng-template #anonymous>
        <div class="anonymous dc">
          <!-- [routerLink]="['/login']" -->
          <a (click)="signIn('in')"
            ><button class="sign-in">Sign in</button>
          </a>
          <!-- [routerLink]="['/register']"> -->
          <a (click)="signIn('up')">
            <button class="sign-up">Sign up</button>
          </a>
        </div>
      </ng-template>
    </div>
  </div>
  <nav class="dc">
    <a [routerLink]="['/']" class="logo">
      <img src="../../../../../assets/logo.svg" alt="" />
    </a>
    <div class="dsc menu">
      <ul class="df">
        <li>{{ "сryptocurrencies" | translate }} <span>•</span></li>
        <li>{{ "community" | translate }}</li>
        <li>{{ "products" | translate }}</li>
        <li>{{ "learn" | translate }}</li>
      </ul>
      <div class="dsc">
        <a [routerLink]="['/watchlist']" class="dec watch-port">
          <img src="../../../../../assets/star.svg" alt="" />
          {{ "watchlist" | translate }}
        </a>
        <a [routerLink]="['/portfolio']" class="dec watch-port">
          <img src="../../../../../assets/portfolio.svg" alt="" />
          {{ "portfolio" | translate }}
        </a>
        <nz-input-group
          [nzSuffix]="suffixIconSearch"
          class="search"
          nzTrigger="click"
          nz-dropdown
          [nzDropdownMenu]="menu4"
        >
          <input type="text" nz-input [placeholder]="'search' | translate" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
        <nz-dropdown-menu #menu4="nzDropdownMenu">
          <ul nz-menu class="search-ul">
            <li nz-menu-item class="dsc" *ngFor="let item of searchOptions">
              <div class="dc">
                <img
                  [src]="'../../../../../assets/' + item.img + '.png'"
                  alt=""
                />
                <span class="name">{{ item.title }}</span>
                <span class="symbol">{{ item.symbol }}</span>
              </div>
              <p class="symbol">#{{ item.number }}</p>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </nav>
</div>
