<div class="container">
  <div
    *ngIf="!(currentUser$ | async) && !(isLoggedIn$ | async)"
    style="height: 600px"
  >
    {{ "register_create_w" | translate }}
  </div>

  <ng-container *ngIf="(currentUser$ | async) && (isLoggedIn$ | async)">
    <div class="watchlist">
      <div class="dcc main">{{ "main" | translate }}</div>
      <div>
        <div class="dc">
          <p>My First Watchlist</p>
          <div class="dcc edit">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="dsc">
      <div class="links df">
        <a
          [routerLink]="['/watchlist']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="dec watch-port btn"
        >
          <img src="../../../../../assets/star.svg" alt="" />
          {{ "watchlist" | translate }}
        </a>
        <a [routerLink]="['/portfolio']" class="dec watch-port btn">
          <img src="../../../../../assets/portfolio.svg" alt="" />
          {{ "portfolio" | translate }}
        </a>
      </div>
      <div class="links df">
        <a [routerLink]="['/add-coins']" class="dec watch-port btn">
          <span nz-icon nzType="plus" nzTheme="outline"></span>
          {{ "add_coins" | translate }}
        </a>
        <a [routerLink]="['/edit']" class="dec watch-port btn">
          <span nz-icon nzType="edit" nzTheme="outline"></span>
          {{ "edit" | translate }}
        </a>
      </div>
    </div>
    <div>
      <div>
        <div>
          <mc-feed [apiUrl]="apiUrl" [watchList]="watchList"></mc-feed>
        </div>
        <div></div>
      </div>
    </div>
  </ng-container>
</div>
