*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Inter;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
button {
  border: none;
}

.dcc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dc{
  display: flex;
  align-items: center;
}
.dsc{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dec{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.w100 {
  width: 100%;
}
.df {
  display: flex;
}
.ma {
  margin: auto;
}
.mr0{
  margin-right: 0;
}
