*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Inter;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
button {
  border: none;
}

.dcc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dc {
  display: flex;
  align-items: center;
}
.dsc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.w100 {
  width: 100%;
}
.df {
  display: flex;
}
.ds {
  display: flex;
  justify-content: space-between;
}
.ma {
  margin: auto;
}
.mr0 {
  margin-right: 0;
}
.dayh {
  background-color: #eff2f5;
  border-radius: 4px;
  color: #58667e;
  font-size: 11px;
  font-weight: 500;
  line-height: 135%;
  padding: 2px 6px;
  margin-left: 10px;
}
.info-text {
  margin-left: 55px;
  .title {
    color: #222531;
    font-weight: 700;
    font-size: 18px;
    line-height: 129%;
    margin-bottom: 10px;
  }
  .text {
    width: 440px;
    color: #58667e;
    font-size: 16px;
    font-weight: 500;
    line-height: 124%;
  }
}

.title-converter {
  color: #222531;
  margin-bottom: 10px;
}

.second-div {
  margin-bottom: 22px;
  span {
    padding: 2px 6px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 4px;
    margin-right: 8px;
  }
  .rank {
    background-color: #808a9d;
    color: #ffffff;
  }
  .coin {
    color: #58667e;
    background-color: #eff2f5;
  }
}
.gas-price {
  color: #808a9d;
  font-size: 14px;
  font-weight: 400;
  span {
    color: #ea3943;
    margin-left: 16px;
  }
}

.progress-div {
  color: #58667e;
  font-size: 12px;
  font-weight: 600;
  .progress {
    margin: 0 13px;
    ::ng-deep .ant-progress-line {
      width: 166px;
    }
  }
}
