@import '/src/assets/scss/mixins/rem.scss';
@import '/src/assets/scss/vars.scss';
@import '/src/assets/scss/mixins/mini.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Inter;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
button {
  border: none;
}

.dcc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dc {
  display: flex;
  align-items: center;
}
.dsc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.w100 {
  width: 100%;
}
.df {
  display: flex;
}
.ds {
  display: flex;
  justify-content: space-between;
}
.ma {
  margin: auto;
}
.mr0 {
  margin-right: 0;
}
.br8 {
  border-radius: 8px;
}

.mauto{
  margin: 0 auto;
}

.dayh {
  background-color: #eff2f5;
  border-radius: 4px;
  color: #58667e;
  font-size: 11px;
  font-weight: 500;
  line-height: 135%;
  padding: 2px 6px;
  margin-left: 10px;
}
.info-text {
  margin-left: 55px;
  .title {
    color: #222531;
    font-weight: 700;
    font-size: 18px;
    line-height: 129%;
    margin-bottom: 10px;
  }
  .text {
    width: 440px;
    color: #58667e;
    font-size: 16px;
    font-weight: 500;
    line-height: 124%;
  }
}

.title-converter {
  color: #222531;
  margin-bottom: 10px;
}

.second-div {
  margin-bottom: 22px;
  span {
    padding: 2px 6px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 4px;
    margin-right: 8px;
  }
  .rank {
    background-color: #808a9d;
    color: #ffffff;
  }
  .coin {
    color: #58667e;
    background-color: #eff2f5;
  }
}
.gas-price {
  color: #808a9d;
  font-size: 14px;
  font-weight: 400;
  span {
    color: #ea3943;
    margin-left: 16px;
  }
}
.cp {
  cursor: pointer;
}

.main-info {
  margin: 64px 0 22px 0;
  .title-chart {
    color: #222531;
    font-weight: 700;
    font-size: 18px;
    line-height: 129%;
    margin-bottom: 23px;
  }
  .chart {
    width: 929px;
    height: 500px;
    margin-bottom: 60px;
  }
  .title-converter {
    color: #222531;
    margin-bottom: 10px;
  }
  .converter {
    border: 1px solid #eff2f5;
    border-radius: 16px;
    width: 929px;
    height: 85px;
    .coin {
      width: 50%;
      padding: 25px 24px;
      border-radius: 16px;
      background-color: #ffffff;
      img {
        width: 32px;
        margin-right: 12px;
      }
      .symbol {
        color: #58667e;
        font-size: 11px;
        font-weight: 400;
        line-height: 124%;
      }
      .name {
        color: #222531;
        font-size: 14px;
        font-weight: 500;
        line-height: 124%;
      }
      input {
        width: 285px;
        border: none;
        text-align: end;
      }
    }
    .tenge {
      width: 50%;
      padding: 25px 24px;
      border-radius: 0 16px 16px 0;
      background-color: #f8fafd;
      img {
        width: 32px;
        margin-right: 12px;
      }
      .symbol {
        color: #58667e;
        font-size: 11px;
        font-weight: 400;
        line-height: 124%;
      }
      .name {
        color: #222531;
        font-size: 14px;
        font-weight: 500;
        line-height: 124%;
      }
      input {
        width: 285px;
        border: none;
        text-align: end;
        background-color: #f8fafd;
      }
    }
  }
}
.info-text {
  margin-left: 55px;
  .title {
    color: #222531;
    font-weight: 700;
    font-size: 18px;
    line-height: 129%;
    margin-bottom: 10px;
  }
  .text {
    width: 440px;
    color: #58667e;
    font-size: 16px;
    font-weight: 500;
    line-height: 124%;
  }
}
.dayh {
  background-color: #eff2f5;
  border-radius: 4px;
  color: #58667e;
  font-size: 11px;
  font-weight: 500;
  line-height: 135%;
  padding: 2px 6px;
  margin-left: 10px;
}

.darkMode{
  background-color: #222531;
}

.darkModeColor{
  color: #ffffff !important;
}

.backgroundDark{
  background-color: rgb(88, 102, 126) !important;
}

.container {
  width: 1370px;
  margin: 0 auto;
}
