<div class="table-coins">
  <mc-loading *ngIf="(isLoading$ | async) || !(feed$ | async)"></mc-loading>
  <mc-error-message *ngIf="error$ | async"></mc-error-message>
  <div *ngIf="feed$ | async">
    <!-- <div class="article-preview" *ngFor="let article of (feed$ | async).articles">
      <div class="artile-meta">
        <a [routerLink]="['/profiles', article.author.username]">
          <img [src]="article.author.image" alt="" />
        </a>
        <div class="info">
          <a [routerLink]="['/profiles', article.author.username]">
            {{ article.author.username }}
          </a>
          <span class="date">{{ article.createdAt | date }}</span>
        </div>
        <div class="pull-xs-right">Add to favorites</div>
      </div>
      <a [routerLink]="['/articles', article.slug]" class="preview-link">
        <h1>{{ article.title }}</h1>
        <p>{{ article.description }}</p>
        <mc-tag-list [tags]="article.tagList" ></mc-tag-list>
      </a>
    </div> -->
    <thead>
      <tr class="head">
        <th class="first"></th>
        <th class="second">
          <b># &nbsp;</b>
        </th>
        <th class="name">Name</th>
        <th class="price paddin">Price</th>
        <th class="one-procent paddin">1h %</th>
        <th class="day-procent paddin">24h %</th>
        <th class="week-procent paddin">7d %</th>
        <th class="cap paddin">
          <div class="dc">
            <p>
              Market Cap
              <span
                nz-icon
                nzType="info-circle"
                [nzTheme]="'twotone'"
                [nzTwotoneColor]="'#808a9d'"
              ></span>
            </p>
          </div>
        </th>
        <th class="volume paddin">
          <div class="dc">
            <p>
              Volume(24h)
              <span
                nz-icon
                nzType="info-circle"
                [nzTheme]="'twotone'"
                [nzTwotoneColor]="'#808a9d'"
              ></span>
            </p>
          </div>
        </th>
        <th class="supply paddin">
          <div class="dc">
            <p>Circulating Supply</p>
          </div>
        </th>
        <th class="days paddin">Last 7 days</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let coin of coinsTr">
        <td>
          <span
            nz-icon
            nzType="star"
            [nzTheme]="'twotone'"
            [nzTwotoneColor]="coin.isFavorited || watchListProps ? '#F6B87E' : '#808a9d'"
            style="font-size: 16px"
            (click)="addFavorite(coin.id, coin.isFavorited)"
          ></span>
        </td>
        <td class="id">
          {{ coin.id }}
        </td>
        <td class="">
          <div class="dc">
            <img
              class="coin-icon"
              [src]="'../../../../../../assets/' + coin.coinIcon + '.png'"
              alt=""
            />
            <span>&nbsp; {{ coin.coinName }}&nbsp;&nbsp;</span>
            <span class="coin-symbol">
              {{ coin.coinSymbol }}
            </span>
          </div>
        </td>
        <td class="paddin">₸ {{ coin.price }}</td>
        <td class="paddin">
          <div
            class="dc procent df"
            [ngClass]="{
              'color-red': coin.hRate < 1,
              'color-green': coin.hRate > 1
            }"
          >
            <span nz-icon nzType="caret-up" nzTheme="outline"></span>
            <p>{{ coin.hRate }}%</p>
          </div>
        </td>
        <td class="paddin">
          <div
            class="dc procent df"
            [ngClass]="{
              'color-red': coin.dRate < 1,
              'color-green': coin.dRate > 1
            }"
          >
            <span nz-icon nzType="caret-up" nzTheme="outline"></span>
            <p>{{ coin.dRate }}%</p>
          </div>
        </td>
        <td class="paddin">
          <div
            class="dc procent df"
            [ngClass]="{
              'color-red': coin.wRate < 1,
              'color-green': coin.wRate > 1
            }"
          >
            <span nz-icon nzType="caret-up" nzTheme="outline"></span>
            <p>{{ coin.wRate }}%</p>
          </div>
        </td>
        <td class="paddin">₸ {{ coin.marketCapValue }}</td>
        <td class="paddin">
          <p>₸ {{ coin.volumeCryptoValue }}</p>
          <p class="value">{{ coin.volumeValue }} {{ coin.coinSymbol }}</p>
        </td>
        <td class="paddin">
          <p>{{ coin.circulatingSupply }} {{ coin.coinSymbol }}</p>
          <nz-progress
            *ngIf="coin.procent"
            [nzPercent]="coin.procent"
            nzStrokeColor="#808a9d"
            nzStrokeWidth="6"
            [nzShowInfo]="false"
          ></nz-progress>
        </td>
        <td class="paddin">
          <img
            [src]="
              'https://s3.coinmarketcap.com/generated/sparklines/web/7d/2781/' +
              coin.grap +
              '.svg'
            "
            alt=""
          />
        </td>
      </tr>
    </tbody>
    <mc-pagination
      [totalCount]="(feed$ | async)?.articlesCount"
      [limitArticles]="limitArticles"
      [currentPage]="currentPage"
      [url]="baseUrl"
    ></mc-pagination>
  </div>
</div>
