<div class="table-coins">
  <!-- <mc-loading *ngIf="(isLoading$ | async) || !(feed$ | async)"></mc-loading> -->
  <mc-error-message *ngIf="error$ | async"></mc-error-message>
  <!-- [nzSpinning]="(isLoading$ | async) || !(feed$ | async)" -->
  <nz-spin style="min-height: 400px" [nzSpinning]="isLoading$ | async">
    <div *ngIf="feed$ | async" [ngClass]="{ darkModeColor: darkMode }">
      <thead>
        <tr class="head">
          <th class="first"></th>
          <th class="second">
            <b># &nbsp;</b>
          </th>
          <th class="name">{{ "price" | translate }}</th>
          <th class="price paddin">{{ "name" | translate }}</th>
          <th class="one-procent paddin">1h %</th>
          <th class="day-procent paddin">24h %</th>
          <th class="week-procent paddin">7d %</th>
          <th class="cap paddin">
            <div class="dc">
              <p>
                {{ "market_cap" | translate }}
                <span
                  nz-icon
                  nzType="info-circle"
                  [nzTheme]="'twotone'"
                  [nzTwotoneColor]="'#808a9d'"
                ></span>
              </p>
            </div>
          </th>
          <th class="volume paddin">
            <div class="dc">
              <p>
                {{ "volume" | translate }}(24h)
                <span
                  nz-icon
                  nzType="info-circle"
                  [nzTheme]="'twotone'"
                  [nzTwotoneColor]="'#808a9d'"
                ></span>
              </p>
            </div>
          </th>
          <th class="supply paddin">
            <div class="dc">
              <p>{{ "circulating_supply" | translate }}</p>
            </div>
          </th>
          <th class="days paddin">{{ "last_days" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coin of (feed$ | async).coinDto; let i = index">
          <td>
            <span
              nz-icon
              nzType="star"
              [nzTheme]="'twotone'"
              nz-tooltip
              [nzTooltipTitle]="
                (isLoggedIn$ | async) ? '' : 'Жүйеге кірген жоқсыз'
              "
              [nzTwotoneColor]="
                coin.isLiked || watchListProps ? '#F6B87E' : '#808a9d'
              "
              style="font-size: 16px; cursor: pointer"
              (click)="
                coin.isLiked ? removeFavorite(coin.id) : addFavorite(coin.id)
              "
            ></span>
          </td>
          <td class="id">
            {{ coin.id }}
          </td>
          <td class="">
            <a class="dc articles" [routerLink]="['/articles', coin.symbol]">
              <img class="coin-icon" [src]="coin.logoUrl" alt="" />
              <span>&nbsp; {{ coin.fullName }}&nbsp;&nbsp;</span>
              <span class="coin-symbol">
                {{ coin.symbol }}
              </span>
            </a>
          </td>
          <td class="paddin">
            {{ currency === "USD" ? "$" : "₸" }} {{currency === "USD" ? coin.priceUsd : coin.priceKzt }}
          </td>
          <td class="paddin">
            <div
              class="dc procent df"
              [ngClass]="{
                'color-red': coin.hrate < 1,
                'color-green': coin.hrate > 1
              }"
            >
              <span
                nz-icon
                [nzType]="coin.hrate < 1 ? 'caret-down' : 'caret-up'"
                nzTheme="outline"
              ></span>
              <p>{{ coin.hrate.toString().slice(0, 4) }}%</p>
            </div>
          </td>
          <td class="paddin">
            <div
              class="dc procent df"
              [ngClass]="{
                'color-red': coin.drate < 1,
                'color-green': coin.drate > 1
              }"
            >
              <span
                nz-icon
                [nzType]="coin.hrate < 1 ? 'caret-down' : 'caret-up'"
                nzTheme="outline"
              ></span>
              <p>{{ coin.drate.toString().slice(0, 4) }}%</p>
            </div>
          </td>
          <td class="paddin">
            <div
              class="dc procent df"
              [ngClass]="{
                'color-red': coin.wrate < 1,
                'color-green': coin.wrate > 1
              }"
            >
              <span
                nz-icon
                [nzType]="coin.hrate < 1 ? 'caret-down' : 'caret-up'"
                nzTheme="outline"
              ></span>
              <p>{{ coin.wrate.toString().slice(0, 4) }}%</p>
            </div>
          </td>
          <td class="paddin">
            {{ currency === "USD" ? "$" : "₸" }} {{ coin.marketCapValue }}
          </td>
          <td class="paddin">
            <p>
              {{ currency === "USD" ? "$" : "₸" }}
              {{ coin.volumeValue }}
            </p>
            <p class="value">{{ coin.volumeValue }} {{ coin.symbol }}</p>
          </td>
          <td class="paddin">
            <p>{{ coin.circulatingSupply }} {{ coin.symbol }}</p>
            <nz-progress
              *ngIf="coin.percent"
              [nzPercent]="coin.percent"
              nzStrokeColor="#808a9d"
              nzStrokeWidth="6"
              [nzShowInfo]="false"
            ></nz-progress>
          </td>
          <td class="paddin">
            <img
              [src]="
                'https://s3.coinmarketcap.com/generated/sparklines/web/7d/2781/' +
                (i + 1) +
                '.svg'
              "
              alt=""
            />
          </td>
        </tr>
      </tbody>
      <!-- <ng-container *ngIf="(feed$ | async)"> -->
      <mc-pagination
        [totalCount]="count"
        [limitArticles]="limitArticles"
        [currentPage]="currentPage"
        [url]="baseUrl"
        (messageEvent)="receiveMessage($event)"
      ></mc-pagination>
      <!-- </ng-container> -->
    </div>
  </nz-spin>
</div>
